* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-color: lightpink;
  display: flex;
  justify-content: center;
}


.main-box {
  margin-top: 7%;
  background-color: white;
  width: 400px;
  height: 370px;
  border-radius: 8px;
}



.star-faq {
  margin-top: 5%;
  display: flex;
  margin-left: 5%;
  align-items: center;
  gap: 11px;
}

.faq {
  font-size: 23px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
}



.question-answer {
  margin-top: 5%;
  margin-left: 5%;
}


.question-1 {
  font-size: 11px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.arrow-1 {
  height: 7px;
  margin-left: 30px;
}

.answer-1 {
  margin-top: 3%;
  font-size: 8.5px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 290px;
  color: #909090;
}



.question-2 {
  margin-top: 16px;
  font-size: 11px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.arrow-2 {
  height: 7px;
  margin-left: 168px;
}

.answer-2 {
  margin-top: 3%;
  font-size: 8.5px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 290px;
  color: #909090;
}



.question-3 {
  margin-top: 16px;
  font-size: 11px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.arrow-3 {
  height: 7px;
  margin-left: 168px;
}

.answer-3 {
  margin-top: 3%;
  font-size: 8.5px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 290px;
  color: #909090;
}
