* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background-color: lightpink;
  display: flex;
  justify-content: center;
}


.main-box {
  margin-top: 7%;
  background-color: white;
  width: 430px;
  height: 435px;
  border-radius: 8px;
}



.star-faq {
  margin-top: 5%;
  display: flex;
  margin-left: 5%;
  align-items: center;
  gap: 11px;
}

.faq {
  font-size: 23px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
}



.question-answer {
  margin-top: 5%;
  margin-left: 5%;
  position: relative;
}


.question-1 {
  font-size: 11px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.arrow-1 {
  height: 7px;
  margin-left: 95px;
  cursor: pointer;
  transition: transform .2s ease;
}

.rotate-arrow-1 {
  transform: rotate(180deg);
}

.answer-1 {
  margin-top: 2%;
  font-size: 8.5px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 290px;
  color: #909090;
}

.hidden-answer-1 {
  display: none;
}





.question-2 {
  margin-top: 16px;
  font-size: 11px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.arrow-2 {
  height: 7px;
  margin-left: 234px;
  cursor: pointer;
  transition: transform .2s ease;
}

.rotate-arrow-2 {
  transform: rotate(180deg);
}

.answer-2 {
  margin-top: 2%;
  font-size: 8.5px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 290px;
  color: #909090;
}

.hidden-answer-2 {
  display: none;
}



.question-3 {
  margin-top: 16px;
  font-size: 11px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.arrow-3 {
  height: 7px;
  margin-left: 87px;
  cursor: pointer;
  transition: transform .2s ease;
}

.rotate-arrow-3 {
  transform: rotate(180deg);
}

.answer-3 {
  margin-top: 2%;
  font-size: 8.5px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 290px;
  color: #909090;
}

.hidden-answer-3 {
  display: none;
}



.question-4 {
  margin-top: 16px;
  font-size: 11px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 300px;
  cursor: pointer;
}

.arrow-4 {
  position: relative;
  top: -25px;
  height: 7px;
  margin-left: 370px;
  cursor: pointer;
  transition: transform .2s ease;
}

.rotate-arrow-4 {
  transform: rotate(180deg);
}

.answer-4 {
  position: relative;
  top: -2px;
  font-size: 8.5px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 290px;
  color: #909090;
}

.hidden-answer-4 {
  display: none;
}
